@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
body {
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0;
}
.container {
  background-color: #7db731;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 3px solid black;
  border-radius: 20px;
  background: linear-gradient(135deg, #f2c513, rgb(125, 184, 53));
}

.img {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.about {
  display: block;
  margin: 10px;
  padding: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.icon:hover {
  background-color: #bfe8f1;
  border-radius: 15%;
  height: 50px;
}
