@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Monsieur La Doulaise", cursive;
  text-align: center;
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9d620a;
  height: 100vh;
  width: 100%;
}
.card {
  background: radial-gradient(#efd8af, #bf8210);
  height: 580px;
  width: 450px;
  border-radius: 3%;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 5px solid #9d620a;
}
.for {
  text-align: center;
   font-family: "Playfair Display", serif;
}

.name,
.mail,
.submit {
  margin: 3px;
}

.submit{
  background-color: #9d620a;
  border-radius: 7px;
  color: #9d620a;
  margin-top: 6px;
}

.submit:hover{
  background-color: #ffb700;
}